<div class="row bgnavcolor">
  <div class="col-md-10 titulo">
    <h1 class="titulo__h1">Videollamada con Ópalo</h1>
  </div>
  <div class="col-md-2 titulo1 nova">
    <h2 class="titulo__h1">Chat</h2>
  </div>
</div>
